version: '2'
services:
  mysql_exporter:
    restart: always
    image: prom/mysqld-exporter
    environment:
      - DATA_SOURCE_NAME=${DATA_SOURCE_NAME}
    external_links:
      - ${MYSQL_CONTAINER}:bdd
    ports:
      - ${PORT}:9104